.menu-cart {
  display: grid;
  grid-template-columns: [s] 1fr [e];
  grid-template-rows: [btn-s] 40px [btn-e content-s] 1fr [content-e];
  row-gap: 20px;

  width: 500px;

  &-btn {
    grid-row: btn-s/btn-e;
  }

  &-content {
    grid-row: content-s/content-e;
    height: 480px;
  }
}

.menu-cart {
  &-content {
    background-color: $soft-white;
    opacity: 0.9;
    border-radius: 50px 0px 0px 50px;
    border: solid 3px $beauty-black;
  }
}

.cart-btn {
  height: 40px;
  width: 90px;
  border-radius: 50px 0px 0px 50px;
  background-color: $beauty-black;
  color: $soft-white;
  font-size: 3rem;

  display: grid;
  justify-content: center;
  align-content: center;
}

.menu-cart-content {
  display: grid;
  grid-template-rows: [title-s] 1fr [title-e products-s] 5fr [products-e footer-s] 1fr [footer-e];

  .menu-cart-title {
    grid-row: title-s/title-e;
    align-self: center;
  }

  .menu-cart-products {
    grid-row: products-s/products-e;
  }

  .menu-cart-footer {
    grid-row: footer-s/footer-e;
    align-self: center;
  }
}

.menu-cart-content {
  .menu-cart-title {
    padding-left: 50px;
    font-size: 3rem;
  }

  .menu-cart-products {
    padding-left: 50px;
    overflow-y: scroll;
  }

  .menu-cart-footer {
    height: 100%;
    width: 100%;
    margin-left: -3px;
    border-radius: 0px 0px 0px 50px;
    border: solid 3px $beauty-black;
  }
}
