.menu-cart {
  display: grid;
  grid-template-columns: [s] 1fr [e];
  grid-template-rows: [icon-s] 40px [icon-e content-s] 1fr [content-e];
  row-gap: 20px;

  width: 500px;
  margin-bottom: 30px;
}

.menu-cart {
  &-btn {
    justify-self: end;
    z-index: 1;
  }
  &-content {
    background-color: $soft-white;
    opacity: 0.9;
    border-radius: 50px 0px 0px 50px;
    border: solid 3px $beauty-black;
  }
}

.cart-hiden {
  transform: translate(555px);
}

.cart-btn {
  height: 40px;
  width: 90px;
  border-radius: 50px 0px 0px 50px;
  background-color: $beauty-black;
  color: $soft-white;
  font-size: 3rem;

  display: grid;
  justify-content: center;
  align-content: center;
}
