.home {
  grid-column: s/e;
  grid-row: content-s/content-e;
}
.welcome-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.backgroud-img,
.welcome-container,
.backgroud-color {
  width: auto;
  height: calc(100vh - 120px);
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.backgroud-color {
  background-color: $soft-white;
  opacity: 0.6;
}
.welcome-container {
  display: grid;
  grid-template-columns: [s] 1fr [m] 1fr [e];
  grid-template-rows: [s] 1fr [m] 1fr [e];

  position: relative;

  .welcome-msg {
    grid-column: m/e;
    grid-row: s/m;
  }
  .order-button {
    grid-column: s/m;
    grid-row: m/e;
  }
}
