.menu-container {
  grid-column: s/e;
  grid-row: content-s/content-e;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [link-s] 50px [links-e products-s] 1fr [products-e];
  height: calc(100vh - 180px);

  .fiter-bar-links-container {
    justify-self: center;
    grid-row: link-s/link-e;
    grid-column: 1/-1;
  }

  .products {
    /* justify-self: center; */
    grid-row: products-s/products-e;
    grid-column: 1/-1;
  }

  .menu-cart {
    justify-self: end;
    grid-row: link-s/product-e;
    grid-column: 1/-1;
  }
  .menu-container-btn {
    position: relative;
    justify-self: end;
    align-self: start;
    grid-row: link-s/link-e;
    grid-column: 1/-1;
  }
}

.filter-links {
  display: flex;
  justify-content: space-between;
  width: 600px;

  font-size: 2.5rem;
}

.active-link {
  color: $soft-orage;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 30px;
  column-gap: 10px;

  width: 100%;

  padding-top: 70px;
  margin-top: 10px;
  margin-bottom: 50px;
  overflow-y: scroll;
}
