.navigation-container {
  grid-column: s/e;
  grid-row: nav-s/nav-e;

  display: grid;
  grid-template-columns: [logo-s] 1fr [logo-e links-s] 3fr [links-e store-info-s] 2fr[store-info-e sigin-s] 1fr [sigin-e];
  align-items: center;

  font-size: 1.5rem;

  padding: 40px;
  .logo {
    grid-column: logo-s/logo-e;
    justify-self: center;
    align-self: center;
  }

  .nav-links {
    grid-column: links-s/links-e;
    display: flex;
    justify-content: space-around;
  }
  .store-info {
    grid-column: store-info-s/store-info-e;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
  }
  .sigin-singup-links {
    grid-column: sigin-s/sigin-e;
    display: flex;
    justify-content: space-around;
  }
}

.store-info-opennig,
.store-info-phone {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 3rem;
  margin-right: 10px;
  color: $soft-orage;
}

.store-info-opennig-schedule,
.store-info-phone-number {
  display: grid;
  justify-items: center;
  row-gap: 7px;

  .phone-title,
  .hours {
    color: $soft-orage;
  }
}

.link {
  color: $beauty-black;
  text-decoration: none;

  cursor: pointer;
  transition: 0.5s ease-in-out;
  &:hover {
    color: $soft-orage;
  }
}
