.orders {
  grid-column: s/e;
  grid-row: content-s/content-e;
  height: calc(100vh - 180px);
}

.orders {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
  padding: 0px 100px 0px 100px;

  &-title {
    font-size: 2.5rem;
  }
  &-info {
    grid-column: -1/1;
  }
}

.orders-info {
  display: grid;
  grid-template-columns: [s]1fr[e];
  grid-template-rows: [titles-s] 1fr [titles-e list-s]6fr[list-e line-s]1fr[line-e];

  &-titles {
    grid-row: titles-s/titles-e;
    grid-column: s/e;
  }
  &-line-top {
    grid-row: titles-s/titles-e;
    grid-column: s/e;
  }
  &-list {
    grid-row: list-s/list-e;
    grid-column: s/e;
  }

  &-line-bottom {
    grid-row: line-s/line-e;
    grid-column: s/e;
  }
}

.orders-info {
  &-titles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    font-size: 2rem;
  }
  &-line-top,
  &-line-bottom {
    border-bottom: 1px solid $beauty-black;
  }
  &-line-top {
    grid-row: titles-s/titles-e;
  }
  &-list {
    grid-row: list-s/list-e;
  }

  &-line-bottom {
    align-self: start;
  }
}

.orders-info-titles {
  .title {
    justify-self: center;
  }
}
