.payment {
  grid-column: s/e;
  grid-row: content-s/content-e;
}

.payment {
  display: grid;
  grid-template-columns: [s] 1fr [m] 1fr [e];
  grid-template-rows: 70px 1fr;
  height: calc(100vh - 180px);
  padding: 0px 100px 0px 100px;

  &-title {
    font-size: 2.5rem;
  }
  &-form {
    grid-column: s/m;
  }
  &-order-summary {
    grid-column: m/e;
    justify-self: center;
  }
}

.payment-form {
  display: grid;
  grid-template-columns: [s] 1fr [m] 1fr [e];
  grid-template-rows: [number-s] 1fr [number-e name-s] 1fr [name-e] 1fr[date-s] 1fr [date-e space-s] 1fr [space-e btns-s] 1fr [btns-e];
  column-gap: 20px;
  margin-bottom: 25px;

  &-number-card {
    grid-row: number-s/number-e;
    grid-column: s/e;
  }

  &-name {
    grid-row: name-s/name-e;
    grid-column: s/e;
  }

  &-date {
    grid-row: date-s/date-e;
    grid-column: s/m;
  }
  &-cvv {
    grid-row: date-s/date-e;
    grid-column: m/e;
  }

  &-btns {
    grid-row: btns-s/btns-e;
    grid-column: s/e;

    display: flex;
    justify-content: space-evenly;
  }
  .encrypted {
    grid-row: number-s/number-e;
    grid-column: s/e;
    justify-self: end;
  }
}

.encrypted {
  padding: 12px 20px 0px 0px;
  font-size: 2.5rem;
}

.payment-form {
  &-name,
  &-number-card {
    .input {
      width: 97%;
    }
  }
}
