.shipping-info {
  grid-column: s/e;
  grid-row: content-s/content-e;
}

.shipping-info {
  display: grid;
  grid-template-columns: [s] 1fr [m] 1fr [e];
  grid-template-rows: 70px minmax(300px, 1fr);
  height: calc(100vh - 180px);
  padding: 0px 100px 0px 100px;

  &-title {
    font-size: 2.5rem;
  }
  .shipping-form {
    grid-column: s/m;
  }
  &-order-summary {
    grid-column: m/e;
    justify-self: center;
  }
}

.shipping-form {
  display: grid;
  grid-template-columns: [s] 1fr [m] 1fr [e];
  grid-template-rows: [name-s] 1fr [name-e phone-s] 1fr [phone-e address-s] 1fr [address-e zipcode-s] 1fr [zipcode-e space-s] 1fr [space-e btns-s] 1fr [btns-e];
  column-gap: 20px;
  margin-bottom: 25px;

  &-name {
    grid-row: name-s/name-e;
    grid-column: s/e;
  }

  &-phone {
    grid-row: phone-s/phone-e;
    grid-column: s/e;
  }

  &-address {
    grid-row: address-s/address-e;
    grid-column: s/e;
  }
  &-col {
    grid-row: zipcode-s/zipcode-e;
    grid-column: m/e;
  }
  &-zipcode {
    grid-row: zipcode-s/zipcode-e;
    grid-column: s/m;
  }
  &-btns {
    grid-row: btns-s/btns-e;
    grid-column: s/e;

    display: flex;
    justify-content: space-evenly;
  }
}

.shipping-form {
  &-name,
  &-phone,
  &-address {
    .input {
      width: 97%;
    }
  }
}
