.sign-in-container {
  grid-column: s/e;
  grid-row: content-s/content-e;
}

.sign-in-container {
  display: grid;
  grid-template-columns: 2fr 1fr;

  height: calc(100vh - 180px);

  .welcome-img {
    align-self: center;
    border-radius: 50px;
    height: 500px;
  }

  .sign-in-form {
    align-self: center;
    justify-self: end;
  }
}

.sign-in-form {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  height: 500px;
  width: 400px;
  border: 1px solid $beauty-black;
  border-radius: 50px;

  &-title,
  &-email,
  &-password,
  &-btn,
  &-register {
    align-self: center;
    justify-self: center;
  }

  &-title {
    font-size: 4rem;
  }

  &-register {
    font-size: 1.5rem;

    a {
      color: $soft-orage;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
