.user-info-container {
  grid-column: s/e;
  grid-row: content-s/content-e;

  height: calc(100vh - 180px);
  padding: 0px 100px 0px 100px;
}

.user-info-container {
  display: grid;
  grid-template-columns: [s] 1fr [m] 1fr [e];
  grid-template-rows: [s] minmax(100px, 1fr) [e];

  column-gap: 10%;

  .user-orders {
    grid-column: s/m;
    grid-row: s/e;
  }

  .user-info {
    grid-column: m/e;
    grid-row: s/e;
  }
}

.user-orders {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px minmax(100px, 1fr);

  &-title {
    font-size: 2.5rem;
  }
  &-info {
    grid-column: -1/1;
  }
}

.user-orders-info {
  display: grid;
  grid-template-columns: [s]1fr[e];
  grid-template-rows: [titles-s] 1fr [titles-e list-s] 6fr [list-e line-s]1fr[line-e];

  &-titles {
    grid-row: titles-s/titles-e;
    grid-column: s/e;
  }
  &-line-top {
    grid-row: titles-s/titles-e;
    grid-column: s/e;
  }
  &-list {
    grid-row: list-s/list-e;
    grid-column: s/e;
  }

  &-line-bottom {
    grid-row: line-s/line-e;
    grid-column: s/e;
  }
}

.user-orders-info {
  &-titles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    font-size: 2rem;
  }
  &-line-top,
  &-line-bottom {
    border-bottom: 1px solid $beauty-black;
  }

  &-list {
    overflow-y: scroll;
  }

  &-line-bottom {
    align-self: start;
  }
}

.user-orders-info-titles {
  .title {
    justify-self: center;
  }
}

.user-order {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid $beauty-black;

  & > * {
    justify-self: center;
    font-size: 1.5rem;
  }

  .user-order-total {
    font-size: 2rem;
  }
}

.user-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px minmax(100px, 1fr);

  &-title {
    font-size: 2.5rem;
  }
}

.user-info-form {
  display: grid;
  grid-template-columns: [s] 1fr [e];
  grid-template-rows: 1fr 1fr 0.75fr 1fr 1fr;

  & > * {
    .input {
      width: 94%;
    }
  }

  &-address-title {
    font-size: 2.5rem;
  }

  &-btn {
    justify-self: center;
  }
}
